---
import BaseLayout from "../../layouts/BaseLayout.astro";
import RecipePost from "../../components/RecipePost.astro";
import { getUniqueTags } from "../../scripts/getUniqueTags.astro";

export async function getStaticPaths() {
  const uniqueTags = await getUniqueTags();
  const allRecipes = await Astro.glob("../recipes/*.mdx");

  return uniqueTags.map((tag) => {
    const filteredRecipes = allRecipes.filter((recipe) =>
    recipe.frontmatter.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { recipes: filteredRecipes },
    };
  });
}

const { tag } = Astro.params;
const { recipes } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p class="hint">Rezepte die mit {tag} markiert sind</p>
  <ul>
    {
      recipes.map((recipe) => (
        <RecipePost
          url={recipe.url}
          title={recipe.frontmatter.title}
          subtitle={recipe.frontmatter.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  .hint {
    color: gray;
  }
</style>
