---
import BaseLayout from "../../layouts/BaseLayout.astro";
import RecipePost from "../../components/RecipePost.astro";
import { getUniqueTags } from "../../scripts/getUniqueTags.astro";

export async function getStaticPaths() {
  const uniqueTags = await getUniqueTags();
  const allPosts = await Astro.glob("../posts/*.md");

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p class="hint">Rezepte die mit {tag} markiert sind</p>
  <ul>
    {
      posts.map((post) => (
        <RecipePost
          url={post.url}
          title={post.frontmatter.title}
          subtitle={post.frontmatter.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  .hint {
    color: gray;
  }
</style>
