---
import Tag from "../components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p >{frontmatter.description}</p>
  <!-- <p>Autor: {frontmatter.author}</p>
  <p>Veröffentlich am {frontmatter.pubDate}</p> -->
  <div class="tags">
    {frontmatter.tags.sort().map((tag: String) => <Tag tag={tag} />)}
  </div>

  <slot />
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--size-8);
  }
</style>
