---
import Tag from "../components/Tag.astro";
import Ingredient from "../components/Ingredient.astro";
import BaseLayout from "./BaseLayout.astro";
import H2 from "../components/markdownelements/H2.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import { formatPubDate } from "../scripts/formatPubDate.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="imgwrapper">
    <ImageWrapper
      imagePath={"/src/images/" + frontmatter.imagename}
      altText={frontmatter.imagename}
    />
  </div>
  <div class="tags">
    {frontmatter.tags.sort().map((tag: String) => <Tag tag={tag} />)}
  </div>

  <p>{frontmatter.subtitle}</p>
  <p>{frontmatter.author}, {formatPubDate(frontmatter.pubDate)}</p>

  <H2 text="Zutaten" />
  <div class="ingredients">
    {frontmatter.ingredients.map((i) => <Ingredient ingredient={i} />)}
  </div>

  <slot />
</BaseLayout>

<style>
  .imgwrapper {
    margin-bottom: var(--size-8);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--size-8);
  }

  .ingredients {
    display: flex;
    flex-wrap: wrap;
    margin-block: var(--size-2);
  }
</style>
